@model IEnumerable<CompanyNetwork.Models.DepartamentModel>
@{
    ViewBag.Title = "Index";
    var i = 0;
}

<h2>Time: @ViewBag.Watch</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                Id
            </th>
            <td>
                Title
            </td>
            <td>
                DepartamentCount
            </td>
            <td>
                EmployeeCount
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{ i++;}
                    @i
                </td>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.DCount
                </td>
                <td>
                    @item.ECount
                </td>
            </tr>
        }
    </tbody>
</table>