@{
    ViewBag.Title = "Info";
}

@Scripts.Render("~/bundles/info")

<h2>Info</h2>
<div id="button">
    <input type="button" value="Sort" onclick="FilterTable(1)" id="button" />
</div>


<table class="table" style="table-layout: fixed">
    <thead>
        <tr>
            <th width="5%" onclick="FilterTable(1, 'Id', false) ">
                <a href="#">Id
                    <span class="glyphicon glyphicon-arrow-up" id="IdUp"></span>
                    <span hidden="hidden" class="glyphicon glyphicon-arrow-down" id="IdDown"></span>
                </a>
            </th>
            <th width="8%" onclick="FilterTable(1, 'FirstName', false)">
                <a href="#">Name
                <span hidden="hidden" class="glyphicon glyphicon-arrow-up" id="FirstNameUp"></span>
                <span hidden ="hidden" class="glyphicon glyphicon-arrow-down" id="FirstNameDown"></span>
                </a>
            </th>

            <th width="8%" onclick="FilterTable(1, 'Salary', false)">
                <a href="#">Salary
                    <span hidden="hidden" class="glyphicon glyphicon-arrow-up" id="SalaryUp"></span>
                    <span hidden="hidden" class="glyphicon glyphicon-arrow-down" id="SalaryDown"></span>
                </a>
            </th>
            <th width="11%" onclick="FilterTable(1, 'DateOfBirth', false)">
                <a href="#">DateOfBirth
                    <span hidden="hidden" class="glyphicon glyphicon-arrow-up" id="DateOfBirthUp"></span>
                    <span hidden="hidden" class="glyphicon glyphicon-arrow-down" id="DateOfBirthDown"></span>
                </a>
            </th>
            <th width="11%" onclick="FilterTable(1, 'DateOfEmployment', false)">
                <a href="#">Employment
                    <span hidden="hidden" class="glyphicon glyphicon-arrow-up" id="DateOfEmploymentUp"></span>
                    <span hidden="hidden" class="glyphicon glyphicon-arrow-down" id="DateOfEmploymentDown"></span>
                </a>
            </th>
            <th width="10%">
                Working / All
            </th>
            <th width="11%" onclick="FilterTable(1, 'Language', false)">
                <a href="#">Languages
                    <span hidden="hidden" class="glyphicon glyphicon-arrow-up" id="LanguageUp"></span>
                    <span hidden="hidden" class="glyphicon glyphicon-arrow-down" id="LanguageDown"></span>
                </a>
            </th>
            <th width="12%" onclick="FilterTable(1, 'Citizenship', false)">
                <a href="#">Сitizenship
                    <span hidden="hidden" class="glyphicon glyphicon-arrow-up" id="CitizenshipUp"></span>
                    <span hidden="hidden" class="glyphicon glyphicon-arrow-down" id="CitizenshipDown"></span>
                </a>
            </th>
            <th width="8%" onclick="FilterTable(1, 'Sex', false)">
                <a href="#"> Sex
                    <span hidden="hidden" class="glyphicon glyphicon-arrow-up" id="SexUp"></span>
                    <span hidden="hidden" class="glyphicon glyphicon-arrow-down" id="SexDown"></span>
                </a>
            </th>
            <th width="5%">
                Moving
            </th>
            <th width="6%">
                BusTrip
            </th>
            <th width="8%" onclick="FilterTable(1, 'DepartamentTitle', false)">
                <a href="#">DepartamentTitle
                    <span hidden="hidden" class="glyphicon glyphicon-arrow-up" id="DepartamentTitleUp"></span>
                    <span hidden="hidden" class="glyphicon glyphicon-arrow-down" id="DepartamentTitleDown"></span>
                </a>
            </th>
        </tr>

        <tr>
            <td>
                <input type="text" id="id" class="inp">
            </td>
            <td>
                <input type="text" id="firstName" class="inp">
            </td>
            <td>
                <input type="text" id="salaryFrom" class="inp">
                <input type="text" id="salaryTo" class="inp">
            </td>
            <td>
                <input type="text" id="datepicker1" class="inp" min="1950-01-01" onchange="dateBirthFrom(this)" value="" />
                <br />
                <input type="text" id="datepicker2" class="inp" value="" max='@DateTime.Now.ToString("yyyy-MM-dd")' onchange="dateBirthTo(this)" />
            </td>
            <td>
                <input type="text" id="datepicker3" class="inp" min="1950-01-01" onchange="dateEmplFrom(this)" value="" />
                <input type="text" id="datepicker4" class="inp" max='@DateTime.Now.ToString("yyyy-MM-dd")' onchange="dateEmplTo(this)" value="" />
            </td>
            <td>
                <input type="checkbox" value="false" id="isDismissal" class="inp">
            </td>
            <td>
                <select id="language" class="inp">
                    <option value="-1"></option>
                    @for (var index = 0; index < ViewBag.Language.Count; index++)
                    {
                        <option value="@Math.Pow(2,index)">@ViewBag.Language[index]</option>
                    }
                </select>
            </td>
            <td>
                <select id="citizenship" class="inp">
                    <option value="-1"></option>
                    @for (var index = 0; index < ViewBag.Сitizenship.Count; index++)
                    {
                        <option value="@index">@ViewBag.Сitizenship[index]</option>
                    }
                </select>
            </td>
            <td>
                <select id="sex" class="inp">
                    <option value="-1"></option>
                    @for (var index = 0; index < ViewBag.Sex.Count; index++)
                    {
                        <option value="@index">@ViewBag.Sex[index]</option>

                    }
                </select>
            </td>
            <td>
                <input type="checkbox" value="false" id="isReadyForMoving" class="inp">
            </td>
            <td>
                <input type="checkbox" value="false" id="isReadyForBusinessTrip" class="inp">
            </td>
            <td>
                <input type="text" id="departamentTitle" class="inp">
            </td>
        </tr>
    </thead>
    <tbody id="ajax" class="table"></tbody>
</table>

<div id="pages"></div>



<script>
    $(document).ready(function () {
        Reset();

        $("#IdUp").show();

         $("#datepicker1").datepicker({
            dateFormat: 'yy-mm-dd',
            minDate: new Date(1950, 1, 1),
            autoclose: false
        });

        $("#datepicker2").datepicker({
            dateFormat: 'yy-mm-dd',
            minDate: new Date(1950, 1, 1),
            autoclose: true
        });

        $("#datepicker3").datepicker({
            dateFormat: 'yy-mm-dd',
            minDate: new Date(1950, 1, 1),
            autoclose: true
        });

        $("#datepicker4").datepicker({
            dateFormat: 'yy-mm-dd',
            minDate: new Date(1950, 1, 1),
            autoclose: true
        });    
              
        FilterTable(1);   

        $(document).ajaxStart(function () {
            $('#preloader').show();
            $('#ajax').hide();       
            $("#pages").hide();
        })
        .ajaxStop(function () {
            $('#preloader').hide();
            $('#ajax').show();      
            $("#pages").show();
        });
    });

    function Reset() {
        $('#FirstNameUp').hide();
        $('#FirstNameDown').hide();
        $('#SalaryUp').hide();
        $('#SalaryDown').hide();
        $('#DateOfBirthUp').hide();
        $('#DateOfBirthDown').hide();
        $('#DateOfEmploymentUp').hide();
        $('#DateOfEmploymentDown').hide();
        $('#LanguageUp').hide();
        $('#LanguageDown').hide();
        $('#CitizenshipUp').hide();
        $('#CitizenshipDown').hide();
        $('#SexUp').hide();
        $('#SexDown').hide();
        $('#DepartamentTitleUp').hide();
        $('#DepartamentTitleDown').hide();
        $('#IdUp').hide();
        $('#IdDown').hide();
    }

    function FilterTable(page, id, save) {
        var sortType;

        if ((id != null) && (save == false)) {

            if ($("#" + id + "Up").is(":hidden")) {
                Reset();
                $("#" + id + "Up").show();
                $("#" + id + "Down").hide();
                sortType = false;
            }
            else
                if ($("#" + id + "Down").is(":hidden")) {
                    Reset();
                    $("#" + id + "Down").show();
                    $("#" + id + "Up").hide();
                    sortType = true;
                }
                else
                    Reset();

        }

        $.ajax({
            url: '@Url.Action("Info", "Home")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            global: true,
            data:
                JSON.stringify({
                    IsDismissal: $("#isDismissal").prop("checked"),
                    Id: $("#id").val(),
                    FirstName: $("#firstName").val(),
                    SalaryFrom: $("#salaryFrom").val(),
                    SalaryTo: $("#salaryTo").val(),
                    DepartamentTitle: $("#departamentTitle").val(),
                    IsReadyForMoving: $("#isReadyForMoving").prop("checked"),
                    IsReadyForBusinessTrip: $("#isReadyForBusinessTrip").prop("checked"),
                    Language: $("#language").val(),
                    Sex: $("#sex").val(),
                    DateOfBirthFrom: $("#datepicker1").val(),
                    DateOfBirthTo: $("#datepicker2").val(),
                    DateOfEmploymentFrom: $("#datepicker3").val(),
                    DateOfEmploymentTo: $("#datepicker4").val(),
                    Сitizenship: $("#citizenship").val(),
                    CurrentPage: page,
                    SortId: id,
                    IsDesc: sortType
                }),
            success: function (data) {
                Result(data);

            }
        });
    }

    function Pager(paginator, currentPage, id) {
        var setPages = "";
        for (var i = 0; i < paginator.length; i++) {
            if ((paginator[i] == -1) || (paginator[i] == -2))
                setPages += "<input type='button' value='...'/>";
            else
                if (paginator[i] == currentPage)
                    setPages += "<input type='button' value='" + paginator[i] + "' onClick = 'FilterTable(" + paginator[i] + ',"' + id + '",true' + ")' style='color: red; font-weight: 600;'/>";
                else
                    setPages += "<input type='button' value='" + paginator[i] + "' onClick = 'FilterTable(" + paginator[i] + ',"' + id + '",true' + ")'/>";


        }
        return setPages;
    }

    function Result(data) {
        var currentPage = data.currentPage;
        var pages = data.pages;
        var list = data.list;
        var paginator = data.paginator;

        var user = "";
        if (pages != 0) {

            for (var i = 0; i < list.length; i++) {

                user += "<tr><td>";
                user += list[i].Id
                        + "</td><td >"
                        + list[i].Fio
                        + "</td><td>"
                        + list[i].Salary
                        + "</td><td>"
                        + list[i].DateOfBirthFormat
                        + "</td><td>"
                        + list[i].DateOfEmploymentFormat
                        + "</td><td>"
                        + list[i].DateOfDismissalFormat
                        + "</td><td>"
                        + list[i].LanguageFormat
                        + "</td><td>"
                        + list[i].Citizenship.Name
                        + "</td><td>"
                        + list[i].SexFormat
                        + "</td><td>"
                        + list[i].IsReadyForMovingFormat
                        + "</td><td>"
                        + list[i].IsReadyForBusinessTripFormat
                        + "</td><td>"
                        + list[i].DepartamentTitle
                        + "</td></tr>";


                user += "</td></tr>";
            }

            $("#ajax").html(user);

            $("#pages").html(Pager(paginator, currentPage, data.sortColumn));
            $("#button").html('<input type="button" value="Show" onclick="FilterTable(1,' + "'" + data.sortColumn + "'" + ')" />');

        }
        else {
            $("#ajax").html("");
            $("#pages").html("");
        }
    }

</script>

<div id="preloader" hidden="hidden"><img src="http://preloaders.net/images/ajax-loader.gif" alt="AJAX loader" title="AJAX loader" /></div>

