

@{
    ViewBag.Title = "Info";
}


<h2>Info</h2>
<div id="button">
    <input type="button" value="Show" onclick="FilterTable(1)" />
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
@Styles.Render("~/Content/paginator")




<table class="table" style="table-layout: fixed">
    <thead>
        <tr>
            <th width="5%" onclick="FilterTable(1, 'Id')">
                <a href="#">Id</a>
            </th>
            <th width="8%" onclick="FilterTable(1, 'FirstName')">
                <a href="#">Name</a>
            </th>
            <th width="6%" onclick="FilterTable(1, 'Salary')">
                <a href="#">Salary</a>
            </th>
            <th width="13%" onclick="FilterTable(1, 'DateOfBirth')">
                <a href="#">DateOfBirth</a>
            </th>
            <th width="13%" onclick="FilterTable(1, 'DateOfEmployment')">
                <a href="#">Employment</a>
            </th>
            <th width="10%">
                Working / All
            </th>
            <th width="8%" onclick="FilterTable(1, 'Language')">
                <a href="#">Languages</a>
            </th>
            <th width="12%" onclick="FilterTable(1, 'Citizenship')">
                <a href="#">Сitizenship</a>
            </th>
            <th width="8%" onclick="FilterTable(1, 'Sex')">
                Sex
            </th>
            <th width="5%">
                Moving
            </th>
            <th width="6%">
                BusTrip
            </th>
            <th width="8%" onclick="FilterTable(1, 'DepartamentTitle')">
                <a href="#">DepartamentTitle</a>
            </th>
        </tr>

        <tr>
            <td>
                <input type="text" id="id" class="inp">
            </td>
            <td>
                <input type="text" id="firstName" class="inp">
            </td>
            <td>
                <input type="text" id="salaryFrom" class="inp">
                <input type="text" id="salaryTo" class="inp">
            </td>
            <td>
                <input type="date" id="datepicker1" class="inp" />
                <br />
                <input type="date" id="datepicker2" class="inp" />
            </td>
            <td>
                <input type="date" id="datepicker3" class="inp" />
                <input type="date" id="datepicker4" class="inp" />
            </td>
            <td>
                <input type="checkbox" value="false" id="isDismissal" class="inp">
            </td>
            <td>
                <select id="language" class="inp">
                    <option value="-1"></option>
                    @for (var index = 0; index < ViewBag.Language.Count; index++)
                    {
                        <option value="@Math.Pow(2,index)">@ViewBag.Language[index]</option>
                    }
                </select>
            </td>
            <td>
                <select id="citizenship" class="inp">
                    <option value="-1"></option>
                    @for (var index = 0; index < ViewBag.Сitizenship.Count; index++)
                    {
                        <option value="@Math.Pow(2,index)">@ViewBag.Сitizenship[index]</option>
                    }
                </select>
            </td>
            <td>
                <select id="sex" class="inp">
                    <option value="-1"></option>
                    @for (var index = 0; index < ViewBag.Sex.Count; index++)
                    {
                        <option value="@index">@ViewBag.Sex[index]</option>

                    }
                </select>
            </td>
            <td>
                <input type="checkbox" value="false" id="isReadyForMoving" class="inp">
            </td>
            <td>
                <input type="checkbox" value="false" id="isReadyForBusinessTrip" class="inp">
            </td>
            <td>
                <input type="text" id="departamentTitle" class="inp">
            </td>
        </tr>
    </thead>
    <tbody id="ajax" class="table"></tbody>
</table>

<div id="pages"></div>

<script>
    $(document).ready(function () {
        FilterTable(1)
    });

    function FilterTable(page, id) {

        $.ajax({
            url: '@Url.Action("Info", "Home")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data:
                JSON.stringify({
                    IsDismissal: $("#isDismissal").prop("checked"),
                    Id: $("#id").val(),
                    FirstName: $("#firstName").val(),
                    SalaryFrom: $("#salaryFrom").val(),
                    SalaryTo: $("#salaryTo").val(),
                    DepartamentTitle: $("#departamentTitle").val(),
                    IsReadyForMoving: $("#isReadyForMoving").prop("checked"),
                    IsReadyForBusinessTrip: $("#isReadyForBusinessTrip").prop("checked"),
                    Language: $("#language").val(),
                    Sex: $("#sex").val(),
                    DateOfBirthFrom: $("#datepicker1").val(),
                    DateOfBirthTo: $("#datepicker2").val(),
                    DateOfEmploymentFrom: $("#datepicker3").val(),
                    DateOfEmploymentTo: $("#datepicker4").val(),
                    Сitizenship: $("#citizenship").val(),
                    CurrentPage: page,
                    SortId: id
                }),
            success: function (data) {
                Result(data);
            }
        });
    }

    function Pager(paginator, currentPage, id) {
        var setPages = "";
        for (var i = 0; i < paginator.length; i++) {
            if ((paginator[i] == -1) || (paginator[i] == -2))
                setPages += "<input type='button' value='...'/>";
            else
                if (paginator[i] == currentPage)
                    setPages += "<input type='button' value='" + paginator[i] + "' onClick = 'FilterTable(" + paginator[i] + ',"' + id + '"' + ")' style='color: red; font-weight: 600;'/>";
                else
                    setPages += "<input type='button' value='" + paginator[i] + "' onClick = 'FilterTable(" + paginator[i] + ',"' + id + '"' + ")'/>";


        }
        return setPages;
    }

    function Result(data) {
        var currentPage = data.currentPage;
        var pages = data.pages;
        var list = data.list;
        var paginator = data.paginator;
        var user = "";
        if (pages != 0) {

            for (var i = 0; i < list.length; i++) {

                user += "<tr><td>";
                user += list[i].Id
                        + "</td><td >"
                        + list[i].Fio
                        + "</td><td>"
                        + list[i].Salary
                        + "</td><td>"
                        + list[i].DateOfBirthFormat
                        + "</td><td>"
                        + list[i].DateOfEmploymentFormat
                        + "</td><td>"
                        + list[i].DateOfDismissalFormat
                        + "</td><td>"
                        + list[i].LanguageFormat
                        + "</td><td>"
                        + list[i].CitizenshipFormat
                        + "</td><td>"
                        + list[i].SexFormat
                        + "</td><td>"
                        + list[i].IsReadyForMovingFormat
                        + "</td><td>"
                        + list[i].IsReadyForBusinessTripFormat
                        + "</td><td>"
                        + list[i].DepartamentTitle
                        + "</td></tr>";


                user += "</td></tr>";
            }

            $("#ajax").html(user);

            $("#pages").html(Pager(paginator, currentPage, data.sortColumn));
            $("#button").html('<input type="button" value="Show" onclick="FilterTable(1,' + "'" + data.sortColumn + "'" + ')" />');

        }
        else {
            $("#ajax").html("");
            $("#pages").html("");
        }
    }
</script>
